body{background-image: url("../static/adult_bar_blur.jpg");
    background-size: cover;}
    html,body{
        position: relative;
        height: 100%;
    }
    
    .login-container{
        position: relative;
        width: 500px;
        margin: 30px auto;
        padding: 10px 20px 20px;
        background-size: cover;
        background-color: #292b2c;
        text-align: center;
    
        border: 2px solid #ccc;
    }
    
    
    #output{
        position: absolute;
        width: 300px;
        top: -75px;
        left: 0;
        color: #fff;
    }
    
    #output.alert-success{
        background: rgb(25, 204, 25);
    }
    
    #output.alert-danger{
        background: rgb(228, 105, 105);
    }
    
    
    .login-container::before,.login-container::after{
        content: "";
        position: absolute;
        width: 100%;height: 100%;
        top: 5.5px;left: 0;
        background-color: cover;
        background-color: goldenrod;
        z-index: -2;
        -webkit-transform: rotateZ(5deg);
        -moz-transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        border: 3px solid #ccc;
    
    }
    
    .login-container::after{
        top: 7px;
        z-index: -3;
        background-color: brown;
        -webkit-transform: rotateZ(-3deg);
         -moz-transform: rotateZ(-3deg);
          -ms-transform: rotateZ(-3deg);
    
    }
    
    .avatar{
        width: 180px;height: 180px;
        margin: 10px auto 30px;
        border-radius: 100%;
        border: 2px solid #aaa;
        background-image: url("../static/coffe_bear.jpg");
        background-size: cover;
        background-color: lightblue;
    }
    
    .form-box input{
        width: 100%;
        padding: 4px;
        text-align: center;
        height:30px;
        border: none;
        border-bottom: 3px solid goldenrod;
        background: goldenrod;
        transition:0.2s ease-in-out;
    }
    
    .form-box input:focus{
        outline: 0;
        background: #eee;
        border: none;
        border-bottom: 3px solid white;
    }
    
    .form-row input{
        width: 100%;
        padding: 4px;
        text-align: center;
        height:30px;
        border: none;
        border-bottom: 3px solid goldenrod;
        background: goldenrod;
        transition:0.2s ease-in-out;
    }

    .form-row input:focus{
        outline: 0;
        background: #eee;
        border: none;
        border-bottom: 3px solid white;
    }

    .form-row input[type="text"]{
        background-color: transparent;
        font-size: 14px;
        color: white;
        font-weight: bold;
        font-family: sans-serif;

    }
    
    .form-row input[type="password"]{
        background-color: transparent;
        font-size: 16px;
        color: white;
        font-weight: bold;
        font-family: sans-serif;
    }
    
    .form-group input{
        width: 100%;
        padding: 4px;
        text-align: center;
        height:30px;
        border: none;
        border-bottom: 3px solid goldenrod;
        background: goldenrod;
        transition:0.2s ease-in-out;
    }

    .form-group input:focus{
        outline: 0;
        background: #eee;
        border: none;
        border-bottom: 3px solid white;
    }

    .form-group input[type="text"]{
        background-color: transparent;
        font-size: 14px;
        color: white;
        font-weight: bold;
        font-family: sans-serif;

    }
    
    .form-group input[type="password"]{
        background-color: transparent;
        font-size: 16px;
        color: white;
        font-weight: bold;
        font-family: sans-serif;
    }

    .button{
        border-radius: 6px 6px 5px 5px;
        border: 2px solid #ccc;
        margin-top:15px;
        padding: 8px 18px;
        background-color: goldenrod;
        font-size: 16px;
        color: black;
        font-weight: bold;
        font-family: sans-serif;
    }
    
    .animated {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    
    @-webkit-keyframes fadeInUp {
      0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
      }
    
      100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
    
    @keyframes fadeInUp {
      0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
      }
    
      100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
    }
    
    .fadeInUp {
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
      }
      .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
      }
      .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
      }
    
      
    .form-group {
        position: relative;
        margin-bottom: 20px;
        overflow: hidden; }
        .form-group:last-child {
            margin-bottom: 0px; }